
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/assets/admin/pages/css/inbox.css" rel="stylesheet" />
    <link href="~/assets/globals/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
}

<div class="portlet light">
    <div class="portlet-body">
        <div class="row inbox">
            <div class="col-md-2">
                <ul class="inbox-nav margin-bottom-10">
                    <li class="compose-btn">
                        <a id="ComposeBtn" href="javascript:;" data-title="Compose" class="btn green">
                            <i class="fa fa-edit"></i> Compose
                        </a>
                    </li>
                    <li class="inbox active">
                        <a id="InboxBtn" href="javascript:;" class="btn" data-title="Inbox">
                            Inbox(3)
                        </a>
                        <b></b>
                    </li>
                    <li class="sent">
                        <a id="SentBtn" class="btn" href="javascript:;" data-title="Sent">
                            Sent
                        </a>
                        <b></b>
                    </li>
                    <li class="draft">
                        <a id="DraftBtn" class="btn" href="javascript:;" data-title="Draft">
                            Draft
                        </a>
                        <b></b>
                    </li>
                    <li class="trash">
                        <a id="TrashBtn" class="btn" href="javascript:;" data-title="Trash">
                            Trash
                        </a>
                        <b></b>
                    </li>
                </ul>
            </div>
            <div id="InboxBody" class="col-md-10">
                @{Html.RenderPartial("_Inbox");}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/globals/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="~/Scripts/inbox.js"></script>
    <script>
        jQuery(document).ready(function () {
            Inbox.init();
        });
    </script>
}