
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="col-sm-6">
                <a class="glyphicon glyphicon-envelope" href="#"></a>
            </div>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
            </a>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
            </a>
            <a class="glyphicon glyphicon-globe" href="#">
           
            </a>
          
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                        <input type="text" class="form-control" placeholder="Search for...">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
  
        </div>
    </div>
</nav>

<div class="row">MAP :)</div>
<div class="row"></div>

<div class="row"></div>

<div class="row"></div>


