@{
    ViewBag.Title = "MyFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    Widget settings form goes here.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">Save changes</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="col-md-2">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="" style="width: 250px;">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="../../assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                Nick Papalaya
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                    </div>
                    <!-- END PORTLET MAIN -->
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
            </div>
            <div class="col-md-9 col-md-offset-1">
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">
                                            Events
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th colspan="2">
                                                        Event Name
                                                    </th>
                                                    <th>
                                                        Invited
                                                    </th>
                                                    <th>
                                                        Confirmed
                                                    </th>
                                                    <th>
                                                        Rejected
                                                    </th>
                                                    <th>
                                                        Maybe
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                                <td>
                                                    45
                                                </td>
                                                <td>
                                                    124
                                                </td>
                                                <td>
                                                    26
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                                <td>
                                                    45
                                                </td>
                                                <td>
                                                    124
                                                </td>
                                                <td>
                                                    26
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                                <td>
                                                    45
                                                </td>
                                                <td>
                                                    124
                                                </td>
                                                <td>
                                                    26
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                                <td>
                                                    45
                                                </td>
                                                <td>
                                                    124
                                                </td>
                                                <td>
                                                    26
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                        <div class="col-md-6">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet light">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">
                                            Groups
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th colspan="2">
                                                        Group Name
                                                    </th>
                                                    <th>
                                                        Total Users
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    La Prube Punto Com
                                                </td>
                                                <td>
                                                    195
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet light">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">
                                            Favorites
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th></th>
                                                    <th colspan="4">
                                                        Name
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-heart"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-heart"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-heart"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-heart"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                        <div class="col-md-6">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet light">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">
                                            WishList
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th></th>
                                                    <th colspan="4">
                                                        Name
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-star"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-star"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-star"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <icon class="fa fa-star"></icon>
                                                </td>
                                                <td colspan="4">
                                                    La Prube Punto Com
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
