
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<row>
    <h2>Friends</h2>
</row>

<row>
    <div class="portlet-body">
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                    <tr class="uppercase">
                        <th colspan="2">
                            Name
                        </th>
                        <th colspan="2">
                            Remove
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td colspan="2">
                        Gil J Reyes Melendez
                    </td>
                    <td>
                        <a href="javascript:;" class="font-red">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Johanee Torres Rodriguez
                    </td>
                    <td>
                        <a href="javascript:;" class="font-red">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Stephan Elias Remy
                    </td>
                    <td>
                        <a href="javascript:;" class="font-red">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Javi Peseta
                    </td>
                    <td>
                        <a href="javascript:;" class="font-red">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</row>

