@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<div class="container">
    <!--Log in Form-->
    <div class="row">
        <h4>Description</h4>
    </div>

    <form class="form-signin" >
        <div class="row">
            <h2 class="form-signin-heading">Log in</h2>
        </div>
        <div class="row">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="row">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="row">
            <button class="btn btn-sm btn-primary" type="submit">Log in</button>
        </div>

        <div class="row">
            <a href="@Url.Action("Index","SignUp")">Sign up</a>
        </div>
    </form>

</div>
