@model Web.Models.ComposeViewReply

@Html.BeginForm("Compose", "Inbox", FormMethod.Post, new { @class = "inbox-compose form-horizontal", id = "ComposeForm" })
{
<div class="inbox-form-group mail-to">
    <label class="control-label">To:</label>
    <div class="controls controls-to">
        @Html.TextBoxFor(m => m.To, new {@class = "form-control"})
    </div>
</div>
<div class="inbox-form-group">
    <label class="control-label">Subject:</label>
    <div class="controls">
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
    </div>
</div>
<div class="inbox-form-group">
    @Html.TextAreaFor(m => m.Message, new { @class = "inbox-editor inbox-wysihtml5 form-control", rows="12" })
</div>
<div class="inbox-compose-btn">
    <button class="btn blue btn-send" type="submit"><i class="fa fa-check"></i>Send</button>
    <button class="btn danger btn-discard">Discard</button>
</div>
}